$color-primary-0: #1F3155;
$color-primary-1: #4766A3;
$color-primary-2: #314A7A;
$color-primary-3: #101C34;
$color-primary-4: #060C18;

$color-background: #EEEEEE;

$color-font-0: #444444;
$color-font-1: #EEEEEE;
